.statisticsContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.psyPanContainer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 100%;
  justify-content: space-around;
}