.dashboardContainer {
  display: grid;
  /* grid-template-rows: 0.7fr 2fr 0.5fr; */
  grid-template-rows: 0.5fr 1.5fr 0.5fr;
  row-gap: 15px;
  /* overflow-y: scroll; */
}

.chartsContainer {
  display: flex;
  justify-content: space-evenly;
}

.formsContainer {
  display: flex;
  justify-content: space-around;
  gap: 25px

}

