.dashboard {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: auto 1fr;
  min-height: 100%;
}


.sidebar {
  background-color: var(--sidebarBackground);
  /* border: 1px solid blue; */
  /* height: 100%;
  min-height: 100vh; */
}
.dashboardPage {
  width: 85vw;
  margin: 0 auto;
  /* padding: 2rem ; */
  padding: 1rem 1.5rem;
  
  height: 100vh;
  overflow-y: scroll;

}


/* @media (min-width: 992px) {
  .dashboard {
    grid-template-columns: auto 1fr;
  }
  .dashboard-page {
    width: 90%;
  }
} */