/* *,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

/* html {
  font-size: 100%;
} 16px */ */


:root {
  /* colors */
  --sidebarBackground: #FEFCFD;
  /* --dashboardBackground: #F7F9F8; */
  /* --dashboardBackground: red; */
  --red: #ff0000;
}


.App {
  /* background: linear-gradient(
    256.37deg,
    #D8D2FC ,
    #FDE2E0 ,
    #E6E4EA ,
    #E0E9F4
  ); */
  background: var(--dashboardBackground);
  height: 100vh;
}